.app.light {
  --bg-color: rgb(211, 211, 211);
  --inverted-bg-color: rgb(5, 5, 109);

  --primary-color: rgb(18, 0, 99);
  --secondary-color: rgb(5, 84, 201);
  --inverted-primary-color: rgb(3, 124, 3);
  --inverted-secondary-color: rgb(58, 255, 58);
}
